<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSnoek9141_Assignment2</title>
	<script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/lib/jquery-ui-1.13.2/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CSnoek9141_Assignment2.styles.css" asp-append-version="true" />
	<script src="~/lib/jquery-ui-1.13.2/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CSnoek9141_Assignment2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

            @{
                string? cookieDate = Context.Request.Cookies["FirstVisitDate"]; //access the first visit date cookie
                string cookieFooterDisplay; //ready string for displaying message

                if (String.IsNullOrEmpty(cookieDate)) //if cookie doesn't exist then create cookie
                {
                    CookieOptions options = new CookieOptions() { };
                    options.Expires = DateTime.Now.AddDays(3); //set cookie to expire in 3 days (3 days seems reasonable for an assignment)
                    Context.Response.Cookies.Append("FirstVisitDate", DateTime.Now.ToString(), options); //create cookie with current date
                    cookieFooterDisplay = "Hey, welcome to the Party Guest Manager App!"; //set message to a welcome message instead of displaying first visit date
                }
                else
                {
                    cookieFooterDisplay = "Welcome back! You first used this app on: " + cookieDate; //if cookie exists, set message to display welcome back and first visit date
                }
            }
            
            &copy; 2022 - CSnoek9141_Assignment2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - @cookieFooterDisplay @*display resulting cookie message*@
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
