@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage my <a asp-controller="Parties" asp-action="GetParties">parties</a> or <a asp-controller="Parties" asp-action="GetNewPartyForm">add a new party</a>.</p>
</div>
