@model Party

@{
	ViewData["Title"] = "Create new party";
}

<h3>@ViewData["Title"]</h3>


<form asp-controller="Parties" asp-action="AddNewParty" asp-route-id="@Model.PartyID" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EventDate">Date of party</label>
        <input type="text" id="datepicker" class="form-control" asp-for="EventDate" value="@Model.EventDate?.ToString("d")" />
    </div>

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input type="text" asp-for="Location" class="form-control" />
    </div>
    <input type="hidden" asp-for="PartyID" />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Parties" asp-action="GetParties" class="btn btn-primary">Cancel</a>
</form>

<script>
	$("#datepicker").datepicker({
		yearRange: "-0:+10", 
		dateFormat: "mm/dd/yy", 
		constrainInput: true,
		changeMonth: true, 
		changeYear: true
	}
	);
</script>