@model string
@{
	ViewData["Title"] = "Thank you";
}

<h3>@ViewData["Title"]</h3>

<p>Thank you for submitting your response! @Model</p> @*display thank you message and string about being excited for them to join or sad to hear they won't join*@
